host: 0.0.0.0
port: 8158

turnstile:
  site_key: xxxx
  secret_key: xxxx

backend: https://some-proxy:8080

default_action: check

rules:
  # allow IU in automatically
  - pattern: /
    local: yes
    action: pass

  # don't mess with obvious support files
  - pattern: ~\.(jpg|png|gif|webm|js|css|svg|pdf|woff)$
    action: pass

  # allow search engines in
  - pattern: ~.
    search_engine: yes
    action: pass

  # non-search engine crawlers need to go away
  - pattern: ~.
    search_engine: no
    crawler: yes
    action: deny
